.mainbody {
    width: auto;
    height: 100vh;
    border: 2px solid red;
    display: grid;
    grid-template-columns: 50vw 50vw;
    background-color: black;
  }
  
  .header{
    font-size: larger;
    display: grid;
    grid-template-columns: 3fr 1fr;
    .login{
      background-color: #25c6e5;
      width: 20%;
      height: 2rem;
      border-radius: 5px;
      position: relative;
      top: 10px;
      left: 30%;
      color: rgb(35, 23, 23);
      place-items: center;
    }
  }
  
  .tagline {
    display: flex;
    font-size: 44px;
    background: linear-gradient(to right, #ffffff, #b7b4b2, #ccd0d4, #4d4c47);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    align-items: center;
    margin: 5rem 5rem 0rem 8rem;
  }
  .O {
    font-family: monumentExtended;
    width: 100px;
    border: 8px solid;
    border-image: linear-gradient(to right, #ffffff, #b7b4b2, #ccd0d4, #4d4c47) 1;
    border-bottom-left-radius: 15rem;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 3.25rem;
    margin: 0.2em;
    margin-top: 1.5rem;
    margin-left: -3rem;
  }
  
  .orges {
    display: flex;
    font-family: monumentExtended;
  }
  
  .landingText {
    font-size: 1rem;
    width: 80%;
    color: #fff;
    text-align: justify;
    line-height: 1.5;
    margin: 0rem -2rem 0rem 5rem;
  }
  .register {
    display: flex;
  }
  .countdown {
    color: #25c6e5;
    text-shadow: 0px 0px 25px rgba(24, 182, 213, 0.62), 0px 0px 50px #30f;
    font-family: Armata;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5rem;
    display: flex;
  }
  .time{
    padding-right: 1.5rem;
    text-align: center;
  }
  #registerBtn {
    color: #25c6e5;
    text-shadow: 0px 0px 25px rgba(24, 182, 213, 0.62), 0px 0px 50px #30f;
    font-family: Cedarville Cursive;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 2rem 0rem 0rem 5rem;
    background-color: black;
    cursor: pointer;
    border: none;
  }
  #registerBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #registerBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #registerBtn:hover span {
    padding-right: 25px;
  }
  
  #registerBtn:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  #registerBtn:after{
    content: "";
    background: rgb(206, 243, 243);
    display: block;
    position: relative;
    padding-top: 30%;
    padding-left: 35%;
    padding-right: 20%;
    margin-left: -20px;
    margin-top: -25%;
    opacity: 0;
    transition: all 0.8s;
    border-radius: 5px;
  }
  
  #registerBtn:active:after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }